div.photo#scroll
  p.  
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, ad.  
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, ut.
  pre  
    code Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, debitis.
section.photo#fixed
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, eos.
  pre
    code  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
section.photo#local
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, cumque.    
  pre
    code  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae reiciendis corrupti, doloremque distinctio!
img(src='/images/photoshop.jpg')