.container-fluid
	h1 directive example
	.row
	example(class='col-sm-12 col-md-6' dial='saySomething()' some-meth='someMethod(message)' name='ctrlName' flavor='{{ctrlFlavor}}')
	example(class='col-sm-12 col-md-6' dial='saySomething()' some-meth='someMethod(message)' name='ctrlName' flavor='{{ctrlFlavor}}')
	my-directive(bar='8') a