div(layout='row' layout-xs='column' layout-wrap layout-padding )
	example(flex='50' hide-xs  dial='saySomething()' some-meth='someMethod(message)' name='ctrlName' flavor='{{ctrlFlavor}}')
	example(flex='50' dial='saySomething()' some-meth='someMethod(message)' name='ctrlName' flavor='{{ctrlFlavor}}')
	example(flex='50' dial='saySomething()' some-meth='someMethod(message)' name='ctrlName' flavor='{{ctrlFlavor}}')
	example(flex='50' dial='saySomething()' some-meth='someMethod(message)' name='ctrlName' flavor='{{ctrlFlavor}}')
	