div(layout='row' layout-xs='column' layout-wrap layout-padding )
	example(flex='50' hide-xs  dial='saySomething()' some-meth='someMethod(message)' name='ctrlName' flavor='{{ctrlFlavor}}')
	example(flex='50' dial='saySomething()' some-meth='someMethod(message)' name='ctrlName' flavor='{{ctrlFlavor}}')
	example(flex='50' dial='saySomething()' some-meth='someMethod(message)' name='ctrlName' flavor='{{ctrlFlavor}}')
	example(flex='50' dial='saySomething()' some-meth='someMethod(message)' name='ctrlName' flavor='{{ctrlFlavor}}')
	md-datepicker(ng-model='date' md-color='primary')
	md-content#toastContainer(flex='100' layout-padding)
		md-button(ng-click='showToast()') show toast
	div#tool-container
		md-fab-toolbar(md-open='false' md-direction='right')
			md-fab-trigger(class='align-with-text')
				md-button(class="md-fab md-primary")
			md-toolbar
				md-fab-actions
					md-button.md-icon-button
	md-radio-group(ng-model="baz")
		md-radio-button(value='foo')
		md-radio-button(value='bar')
	h1 {{baz}}
	md-checkbox(ng-model='checker' flex='100')
	h1(flex='100') Kyle
		hr
	h1(ng-class='{checkstyle: checker}' flex='100') schwarber

	md-toolbar
		md-menu-bar
			md-menu
				button(ng-click="$mdOpenMenu()") menu
				md-menu-content(width='6')
					md-menu-item
						md-button fucker
					md-menu-divider
					md-menu-item
						p fuck you
			md-menu
				button(ng-click='$mdOpenMenu()') another menu
				md-menu-content(width='4')
					md-menu-item
						p another fuck you
					md-menu-item
						p another fuck you too