md-card(md-theme='default' md-theme-watch)
			md-card-title
				md-card-title-text.md-headline This is the template for the example-directive.jade file
			md-card-actions(layout='row')
				md-input-container
					label FOO
					input(type='text'  ng-model='name')
				md-button(ng-click='someMeth({message:name})') Click me
				{{name}}
				div(ng-if='name=="foo"') name is foo
				div(ng-show='name.length== 3') length is three
				div(ng-hide='name.length==3') length is not three
			md-card-actions(layout='row' layout-align='space-around start')
				md-button( ng-click='dial()') click me
				div {{flavor}}
				md-input-container
					label BAR
					input(type='text' ng-model='flavor')