h1#stick Login
md-button(ng-click='vm.open()') open menu
md-button.md-primary login
md-button.md-accent accent login
div(class='lock-size' layout='row' layout-align= 'center center' ng-cloak)
	md-fab-speed-dial(md-open='false' class='md-scale')
		md-fab-trigger
			md-button(class='md-fab md-warn')
				md-tooltip(md-direction='left') click me to open
				md-icon(md-svg-src='/static/material-design-icons/navigation/svg/production/ic_menu_24px.svg' style='color: purple;')
		md-fab-actions
			md-button(class='md-fab md-mini')
				md-icon(md-svg-src='/static/material-design-icons/device/svg/design/ic_airplanemode_active_48px.svg')
md-content.md-padding
	p.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, maxime, nobis. Maiores, aperiam quis minima velit ex voluptas, aspernatur soluta magnam quisquam natus recusandae quas quidem fugit. In, impedit, eveniet.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur beatae dolore atque fugiat quos maiores et necessitatibus pariatur. Eos aperiam dolorem totam nemo aut, non excepturi quibusdam tempora nam ad.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime fugit possimus consequuntur quisquam facere optio eveniet quidem voluptate sequi voluptates commodi voluptas reiciendis mollitia eaque at, cumque, dolores magni velit!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa deleniti vel excepturi porro, modi, maxime cupiditate dignissimos error aut sunt et omnis provident eaque perferendis. Inventore facere fugit repudiandae cumque.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, maxime, nobis. Maiores, aperiam quis minima velit ex voluptas, aspernatur soluta magnam quisquam natus recusandae quas quidem fugit. In, impedit, eveniet.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur beatae dolore atque fugiat quos maiores et necessitatibus pariatur. Eos aperiam dolorem totam nemo aut, non excepturi quibusdam tempora nam ad.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime fugit possimus consequuntur quisquam facere optio eveniet quidem voluptate sequi voluptates commodi voluptas reiciendis mollitia eaque at, cumque, dolores magni velit!
		Lorem iLorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, maxime, nobis. Maiores, aperiam quis minima velit ex voluptas, aspernatur soluta magnam quisquam natus recusandae quas quidem fugit. In, impedit, eveniet.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur beatae dolore atque fugiat quos maiores et necessitatibus pariatur. Eos aperiam dolorem totam nemo aut, non excepturi quibusdam tempora nam ad.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime fugit possimus consequuntur quisquam facere optio eveniet quidem voluptate sequi voluptates commodi voluptas reiciendis mollitia eaque at, cumque, dolores magni velit!
		Lorem iLorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, maxime, nobis. Maiores, aperiam quis minima velit ex voluptas, aspernatur soluta magnam quisquam natus recusandae quas quidem fugit. In, impedit, eveniet.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur beatae dolore atque fugiat quos maiores et necessitatibus pariatur. Eos aperiam dolorem totam nemo aut, non excepturi quibusdam tempora nam ad.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime fugit possimus consequuntur quisquam facere optio eveniet quidem voluptate sequi voluptates commodi voluptas reiciendis mollitia eaque at, cumque, dolores magni velit!
		Lorem iLorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, maxime, nobis. Maiores, aperiam quis minima velit ex voluptas, aspernatur soluta magnam quisquam natus recusandae quas quidem fugit. In, impedit, eveniet.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur beatae dolore atque fugiat quos maiores et necessitatibus pariatur. Eos aperiam dolorem totam nemo aut, non excepturi quibusdam tempora nam ad.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime fugit possimus consequuntur quisquam facere optio eveniet quidem voluptate sequi voluptates commodi voluptas reiciendis mollitia eaque at, cumque, dolores magni velit!
		Lorem i

	
		