div.hero
	div(class='lock-size' layout='column' layout-align= 'center right' ng-cloak)
		h1(flex='10') Michael La Hay
		h1(flex='10') Michael La Hay
		h1(flex='10') Michael La Hay
		h1(flex='10') Michael La Hay
