div(layout='row' layout-wrap )
	h1(flex='100' ng-style='{"text-align": "center"}' ) readerboard
	md-button(flex='100' ng-click='vm.clear()') clear
	md-input-container(flex='50')
		label textarea 1
		textarea(id='one' ng-model='one' ng-change='vm.areaOne()' autofocus) 
	md-input-container(flex='50')
		label textarea 2
		textarea(id='two' ng-model='two' ng-change='vm.areaOne()')
	//- div(flex='50' layout='column' layout-align='center center')
	//- 	div(ng-repeat='letter in vm.letters'  )
	//- 		{{letter[0]}}  {{letter[1]}}
	//- div(flex='50' layout='column')		
	//- 	div(ng-repeat='letterTwo in vm.lettersTwo' class='diff' )
	//- 		{{letterTwo[0]}} {{letterTwo[1]}}
	div(class='diff-container' flex='100' layout='row' layout-wrap ng-animate-children='true')
		div(ng-repeat='letter in vm.letterDifference')
			div( ng-repeat='(key,value) in letter' class='diff' )
				div {{key}} : {{value}}