div(layout='row' layout-wrap)
	table(flex='50')
		thead
			tr
				th Username 
				th User ID 
				th delete
				th Edit
			tbody
				tr(ng-repeat='user in userlist' class='repeatedItem')
					td.success {{user.username}}
					td {{user._id}} 
					td
						md-button(ng-click='removeUser(user._id)') delete me
					td  
						md-button
							a(ui-sref="users.detail({id : user._id})") Edit

	div.ui-view(flex='50')



	md-card(flex='50')		
		md-card-title Register
		form( name='myForm' ng-model="myForm" ng-submit='register()') 
			div( ng-class="{ 'has-error': myForm.username.$touched && myForm.username.$invalid}")
			md-input-container
				label(for="username") Username<br />
				input#username(name="username" ng-model='userlist.username' minlength='5' required autofocus) 
				div.help-block(ng-messages='myForm.username.$error' ng-if="myForm.username.$touched")
					div(ng-message='required') I'm required
					div(ng-message='minlength') Name is too short
			md-input-container
				label(for="password") Password<br />
				input#password(name="password" ng-model='userlist.password' required) 
			button(type="submit", value="Create") Create