extends layout

block content
  
  
  h1= article
  h1= article.title
  div!= article.body
  hr
  p
    span Author:
    &nbsp;
    a(href="/users/" + encodeURIComponent(article.author.username))= article.author.name
  p
   a(href="/articles") Back to all articles

  h1 delete Article
  form(method="post", action="/articles/" + encodeURIComponent(article.title)) 
    p
      input(name="_method", type="hidden", value="DELETE")
      input(type="submit", value="Delete")
      

  h1 update article
    form(method="post" action="/articles/articlesupdate")
       p
         label(for="title") Title<br />
         input#title(name="title") 
       p
         label(for="body") Body<br />
         textarea#body(name="body") 
       p
         input(type="submit", value="update")




