form(method='POST' action='/auth/authorize')
  p
    label(for="username") Username<br />
    input#username(name="username" ng-model='registerForm.username' required) 
  p
    label(for="password") Password<br />
    input#password(name="password" ng-model='registerForm.password' required) 
  p
    button(type="submit", value="Create") Create