extends layout

block content
  include links.jade

  h1= title

  div.table
    a(href="/users/new") Create new profile
    ul
     each user in bio
      li
       a(href='/users/'+ encodeURIComponent(user.name))= user.name
  
  p  

    ul.clearfix.paginate
      if (page > 0)
       li
        a(href="?page=" + (page - 1)) Previous
      else
       li
        a(href="?page=" + (page - 1)).disabled Previous
      -var i = 0
      while (i < paginate)
    
       li
        a(href="?page="+ i)= i
           -i++ 
      if (!lastPage)
       li
        a(href="?page=" + (page + 1)) Next
      else
       li
        a(href="?page=" + (page + 1)).disabled Next


     