footer   
    ul(class="footer")
        li 
        a(href="helloworld") hello world!
        li 
        a(href="newuser") new user
        li 
        a(href="userlist") user list
        li
        a(href="namepass") name and password
    include social-icons.jade
   