head
    title= title
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js")
    script(src='/javascripts/angular-route.js')
    script(src='/javascripts/menu.js')
    script(src='/javascripts/toggle.js')
    script(src='/javascripts/global.js')
    script(src='/javascripts/app/app.module.js')
    script(src='/javascripts/app/app.config.js')
    script(src='/javascripts/app/controllers.js')
    script(src='/javascripts/app/sessions/sessions.controller.js')
    script(src='/javascripts/app/sessions/sessions.service.js')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')