header 
     
          a#home(ui-sref='home') Home
          div.flexcontainer
            a(ui-sref='directive' ui-sref-active='active') DIRECTIVE
            a(ui-sref='user' ui-sref-active='active') User
            a(href='#' class='toggle-nav') Toggle Navigation
            a(ui-sref='users' ui-sref-active='active') Users
            a(ui-sref='test' ui-sref-active='active') Test
            a(ui-sref='avengers' ui-sref-active='active') Avengers
            a(ui-sref='new' ui-sref-active='active') New session
            a(ui-sref='register' ui-sref-active='active') Register
            div#modal Open Modal
     div#openModal.modalDialog
            div 
             div(class='close') X      
     
     div#site-wrapper
      div#site-canvas
       div#site-menu
        include session.jade
       block other