header 
  
          a#home(href='/') Home
          div.flexcontainer
            a(href="#" class="toggle-nav") Toggle Navigation
            a(href='user') User
            a(href='test') Test
            a(href='avengers') Avengers
            div#modal Open Modal
     div#openModal.modalDialog
            div 
             include newsession.jade
             div(class='close') X      
     div#site-wrapper
      div#site-canvas
       div#site-menu
        include session.jade
       block other