header 
  
          a#home(href='localhost:3000') Home
          div.flexcontainer
            a(href="#" class="toggle-nav") Toggle Navigation
            div#modal Open Modal
     div#openModal.modalDialog
            div 
             include newsession.jade
             div(class='close') X      
     div#site-wrapper
      div#site-canvas
       div#site-menu
        include session.jade
       block other