head
    title= title
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js")
    script(src='https://cdn.jsdelivr.net/angular.ui-router/1.0.0-alpha0/angular-ui-router.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.5.8/angular-messages.js')
    // script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='/static/angular-animate/angular-animate.js')
    script(src='/static/angular-material/angular-material.js')
    script(src='/static/angular-aria/angular-aria.js')
    // script(src='/distribution/scripts/scripts.min.js')
    script(src='/javascripts/app/app.module.js')
    script(src='/javascripts/app/app.config.js')
    script(src='/javascripts/app/factory.js')
    script(src='/javascripts/app/components/example.directive.js')
    script(src='/javascripts/app/components/example.controller.js')
    script(src='/javascripts/app/link/link.directive.js')
    script(src='/javascripts/app/controllers/register.controller.js')
    script(src='/javascripts/app/controllers/user.controller.js')
    script(src='/javascripts/app/controllers/showuser.controller.js')
    script(src='/javascripts/app/controllers/login.controller.js')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet' href='/static/animate.css/animate.css')
    link(rel='stylesheet' href='/static/angular-material/angular-material.css')
    link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")
    base(href='/')