head
    title= title
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/menu.js')
    script(src='/javascripts/toggle.js')
    script(src='/javascripts/global.js')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')