head
    title= title
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js")
    script(src='https://cdn.jsdelivr.net/angular.ui-router/1.0.0-alpha0/angular-ui-router.js')
    // script(src='/javascripts/menu.js')
    // script(src='/javascripts/toggle.js')
    // script(src='/javascripts/global.js')
    // script(src='/javascripts/alert.js') 
    script(src='/distribution/scripts/scripts.min.js')
    script(src='/javascripts/app/app.module.js')
    script(src='/javascripts/app/app.config.js')
    script(src='/javascripts/app/factory.js')
    script(src='/javascripts/app/controllers.js')
    script(src='/javascripts/app/sessions/sessions.controller.js')
    script(src='/javascripts/app/sessions/sessions.service.js')
    script(src='/javascripts/app/components/example.directive.js')
    script(src='/javascripts/app/components/example.controller.js')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    base(href='/')