ul(class= 'links')
    li
     a(href="/") home  
    //- li
    //- a(href="namepass") name/pass
    //- li
    //- a(href="signup") sign up
    li
     a(href="users") users
    li
     a(href='background') background
    li#dropdown dropdown
     a(href="") link 1
     a(href="") link 2
     a(href="") link 3

  