extend layout
block content

  #button click me
  div.lost-wrapper
    div
      div
      div 
    div 
    div
    div

   .responsive   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi iste cumque alias magnam libero deserunt quis, ad illum quas amet magni aspernatur quaerat voluptates asperiores impedit quo dolorem ullam beatae?
