extends layout

block content
  include links.jade
  h1= title
  p Hello, World! Welcome to #{title}

  ul
        each user, i in namepass
            li= i +" "+ user.username  + " " +user.password 
  include footer.jade





