body#newsession
div#background-image
if (!session)
 form(method="POST", action="/session/session") 
  fieldset#fieldset
   legend Login

   label(for="username") User name:
   input#username(name="username")
   <br> 
 
   label(for="password") Password:
   input#password(type="password", name="password") 
   br  
   button#login(type="submit", value="Log in")
else
     
     form(method="POST", action="/session/session")
       input(class="submit" id="sub" type="hidden", name="_method", value="DELETE") 
       input(class="submit" id="sub" type="submit", value="Log out")





   
       