ul.pagination
      li
        a(href="?page=0") First
      if (page > 0)
       li
        a(href="?page=" + (page - 1)) Previous
      else
       li
        a(href="?page=" + (page - 1)).disabled Previous
      
      -var i = 0

      while (i < paginate)
       li
        a(href="?page="+ i)= i
           -i++ 
      

      if (!lastPage)
       li
        a(href="?page=" + (page + 1)) Next
      else
       li
        a(href="?page=" + (page + 1)).disabled Next
      li
        a(href="?page=" + last) Last