extends layout

block content

  include links.jade
  h1= title

  ul
    li
      a(href="/portfolio_stuff/mvp.html") readerboard
    li
      a(href="/portfolio_stuff/colorchange.html") colorchange
    li
      a(href="/portfolio_stuff/dom-example.html") dynamic table
    li
      a(href="/portfolio_stuff/fontsize.html") font size
    li
      a(href="/portfolio_stuff/dynamic_pic.html") dynamic picture
    li
      a(href="/portfolio_stuff/opacity.html") change opacity and color dynamically with sliders
    li
      a(href="/portfolio_stuff/origin.html") change perspective and perspective origin
    li
      a(href="/portfolio_stuff/moveable_ad.html") moveable ad
    li
      a(href="/portfolio_stuff/responsive/responsive_book.html") responsive Website
    li
      a(href="mvp") jade readerboard
