h1= user.name
h2 Bio
p= user.bio
form(action="/users/" + encodeURIComponent(user.name), method="POST")
  input(name="_method", type="hidden", value="DELETE")
  input(type="submit", value="Delete")
form(action='/users/' + encodeURIComponent(user.name), method='POST')
  p= user.name
  input(type='text' name='name')
  input(name="_method", type='hidden' value="PUT")
  input(type="submit", value="Update")