
    
div#search_container
  form(id="search" name="search",method="GET",action="/articles/search")
         label(for="title") search
         input#title(name="q") 
         button#btnSubmit(type="submit") submit