extends layout

block content

  include links.jade

  p #{message}
  form#formUserSignup(name="signup",method="post",action="/signup")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserEmail(type="text", placeholder="useremail", name="password")
        button#btnSubmit(type="submit") submit