extends layout



block content
    include links.jade 
    h1.
        User List
    
    ul
        each user, i in userlist
            li
                a(href="mailto:#{user.email}")= user.username  + " " +user.email





