ul.ng-leave
	animation slideOutRight 3s

[ui-view].ng-enter
	animation rollIn 1s
    


	
[ui-view].ng-leave
	animation rollOut 1s

	

.ui-view.ng-enter
	animation flipInX 1s
	
.ui-view.ng-enter.ng-enter-active
	background red
	
.ui-view.ng-leave
	animation bounceOut 1s
	
.ui-view.ng-leave.ng-leave-active
	background blue
	float right
	
.repeatedItem.ng-leave
	animation bounceOut 3s

.repeatedItem.ng-enter
	animation bounceIn 3s
	



     
