@import 'nib'
@import 'typographic'
@import 'axis'

@alias
 fd flex-direction 
 
global-reset()
 
#logo
  image '/images/branding/logo.main.png'

.lost-container 
  lost-utility clearfix
  width 100%
  .lost
    lost-column 1/3

.table img 
  size 100px
  border-radius 50%

body, 
button
 font-family "Lobster"
 
rupture.mobile-cutoff = 500px
rupture.enable-em-breakpoints = true
rupture.scale =        0        400px       600px      800px        1050px     1800px

//                     └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────
// Slice numbers:           1           2           3           4           5           6
rupture.scale-names:       'xs'        's'         'm'         'l'         'xl'        'hd'

#mobile
  color red
  +mobile(orientation: portrait)
   color blue


.hero
  background-size cover




.flex
  display flex
  fd row-reverse

//.responsive
  //font-size responsive 12px 36px
  
  


.nested
  background red !important
  height 50px  !important
  margin-bottom 10px


 
  


clearfix()

primary-color = yellow

br(radius = 5px)
 -webkit-border-radius radius
 -moz-border-radius radius
 border-radius radius
 
 
pad(a)
 return a/4 a (a - 6) a


@import 'styl/*'

@keyframes moveSection
 0%
  left 470px
  border-color red
 100%  
  left 700px
  border-color blue
  
@keyframes colorChanger
 0%
   background-color blue
   right 0
 100%
   background-color red
   right 200px
*
  box-sizing border-box
  
.hero
  width 100%
  background-color red
  height 600px
  background-image: url("/images/photoshop.JPG")
  position absolute
  
  
body
 
  padding-top 80px
  //gradient blue 40%
  
header
  display flex
  justify-content flex-end
  align-items center
  position fixed
  top 0
  right 0
  left 0
  margin-bottom 80px
  height 80px
  width 100%
  transform translate3d(0,0,0)
  z-index 3
  background-color primary-color
  a, div
    display inline-block
    padding 20px
  :not(:first-child)
    color red
    
    
#home
 margin-right auto

fieldset
  border 1px solid green
  padding 1em
  font 80%/1 sans-serif
  margin 0
  max-width 360px
  margin 50px
label
  float left
  width 90px
  text-align right
  margin-right .5em
  padding-top .2em

#login
  button()
  float right
  
  width 131px
  
  margin-left calc(90px + .5em)
/* ==========================================================================
   off canvas start
   ========================================================================== */

#site-wrapper
  position relative
  width 100%
  height 1000px
  margin-top 40px
  
  
#site-canvas
  width 100%
  height 100%
  position relative
  
  transform translate3d(0,0,0)
  
  transition 300ms $ease-in-expo transform

  
  
#site-menu
  width 400px
  height 100%
  position absolute
  top 0
  left -400px
  background #428bca
  
  
.show-nav #site-canvas 
   transform translate3d(400px,0,0)

/* ==========================================================================
   off canvas end
   ========================================================================== */

/* ==========================================================================
   start modal box
   ========================================================================== */
.modalDialog
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    visibility: hidden;
    transition: opacity 400ms ease-in;
    pointer-events: none;

#modal
  display inline-block
  cursor pointer 

.target 
    opacity:1;
    pointer-events: auto;
    visibility: visible
    
.modalDialog > div 
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: pad(20px)
    br(10px)
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);

.close 
    background: #606061;
    color: purple;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    cursor pointer
    &:hover 
     background: rgba(@color, 50%);
    

/* ==========================================================================
   end modal box
   ========================================================================== */


/* ==========================================================================
   social media sprites
   ========================================================================== */
#social-icons 
  
  display flex
  justify-content space-around
  align-items center
  & a
     background-image url('/images/social-sprites.png') 
     width 32px
     height 32px
     padding 0
  & .github
      background-position 0 -981px
      ^[1]:hover
       background-position -38px -981px
  & a.facebook
      background-position 0 -73px
      ^[1]:hover
       background-position -38px -73px
  & a.twitter
       background-position 0 -109px
       ^[1]:hover
        background-position -38px -109px
  & a.linkedin
       background-position 0 -292px
       ^[1]:hover
        background-position -38px -292px
  & .googleplus
       background-position 0 -621px
       ^[1]:hover
         background-position -38px -621px
         
/* ==========================================================================
   end social media icons
   ========================================================================== */
/* ==========================================================================
   comments styling
   ========================================================================== */
#comment-wrapper
  

.toggle-comments
  padding 5px
  font-size 2vw
  background-color red
  border-radius 5px
  font-weight 800
  font-variant small-caps
  font-stretch ultra-expanded
  float right
  clear right
  

.addCommentForm
    background-image url('/images/scales.svg')
    

#comments
  .name
    float left
  .created_at
    float right
  .content
    clear both


#social-icons
  width 80vw
  margin 0 auto 3em auto



.links_container
  position relative
  display flex
  flex-direction column
  justify-content flex-start
  padding 0
  & span a
     padding 0
     


      

      
.submit,#sub
  background-color orange
  margin 0
  width 100px
  padding 10px
  border-radius 5px
  font-size 20px
  color grey
  border 3px red solid
  cursor pointer

a.block
  display block

ul.links
  margin 0
  display flex 
  flex-wrap nowrap
  flex-direction column
  align-items flex-start
  background-color gray
  
  & li
    padding 10px
  
  
.table li
  display flex
  justify-content space-between
  align-items flex-end
  list-style-type none
  padding 10px
  a, div
    //display inline-block
    //margin-right 10px
    padding 5px
    background-color purple
    padding-bottom 10px 
  :last-child
    float right
  
#profile-container
  margin-left 30px
  background green

.paginate > li
  border solid 1px green
  
.table
  display flex
  margin 30px
  justify-content flex-start
  width 50%
  min-width 350px
  min-height 300px
  background pink
  
  ul
    display flex
    width 100%
    flex-direction column
    justify-content space-around

a.disabled
  pointer-events: none
  cursor: default
  color: gray

a
  text-decoration: none
  color: #00B7FF

  

li a
  display block
  
#dropdown a
  display none
  
#dropdown:hover a
  display block
  
  
  

    


  input[type =text], input[type=submit], textarea
    
    padding 0
    border 0
    
  textarea
    outline none
    resize none
  .label
    background-color coral
    
  
    

   
.animate
  position absolute
  height 50px
  width 200px
  background-color blue
  float right
  overflow auto
  animation colorChanger 5s ease -2s infinite alternate
 

    
#test
  width 200px
  height 200px
  background-color red
  padding-top 100px
  text-align center
  position relative
  
#test span
  display none
  
#test:hover span
  display block
  top 0
  bottom 0
  left 0 
  right 0
  background-color blue
  position absolute
  
  
.hide
  display none
  
.toggle-nav
  color white
  


































     
